*{
    margin: 0;
    padding: 0;
    
}
header{
    background-image: url("Images/FemaleTeacher.jpg");
    height:500px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}
nav{
    
    padding: 0px !important;
    background-color: rgba(215, 212, 212, 0.772);
    overflow-x: hidden;  
}
.navs-container{
    padding: 5px!important;
}
.logo{
    width: 60px;
    height: 60px;
    /* margin-left: 80px; */
}
.nav-icons{
    font-size: 38PX;
    color: orange;
}
.nav-item a{
    margin: 10px;
   
    /* width: 60%;
    margin: 10px auto; */
    font-size: 1.5rem;
}
/* .navbar-collapse{
    flex-grow: 0;
}
.container-fluid .my-con{
    justify-content:space-around;
} 
*/

.nav-item a:hover{
    background-color: blue;
    transform: scale(1.09);
    border-radius: 5px;
    transition: 0.4s;
    color: white;
   
}

.banner-text .banner-flex-text h1{
    font-family: 'Mulish', sans-serif;
    font-size:40px;
    color: white;
}
#banner-text{
    width: 100%;
    height: 500px;
    
}
.banner-text{
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: red; */
    justify-content:center;
    height: 400px; 
    position: absolute;
    z-index: 1;
    top: 72px;
    
   
}
.banner-flex-text{
    padding: 20px;
    align-items:center;
    width: 550px;
    height: 400px; 
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
 
}
.chose-us-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#why-choose-us{
    overflow-x: hidden;
}
.why-choose-us-text h1{
    font-family: 'Mulish', sans-serif;
}
.why-choose-us-row{
   background-color: rgba(255, 254, 253, 0.982);
}
.kids-img{
    height: 450px;
    width: 100%;
}
.progress{
    height:6px;
}
.progress-bar{
    
}
.skills .practical-knowledge .badge{
    
    /* top: -10px; */
    color: rgb(0, 0, 0);  
    
    position: absolute;
    right:46px;
}
.skills .passed-percentage .badge{
    
    /* top: -10px; */
    color: rgb(0, 0, 0);  
    
    position: absolute;
    right:26px;
}
.skills .Happy-Students .badge{
    
    /* top: -10px; */
    color: rgb(0, 0, 0);     
    position: absolute;
    right:10px;
}
.Certifie-Institute{
    width: 32px;
    height: 31px;
    color: red;
}
.Qualifed-Teachers img{
    width: 32px;
    height: 31px;
}
.Best-Categories h1{
    font-size:42px;
    font-weight: 800;
    font-family:Mulish, sans-serif
}
.Best-Categories-card-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #F8F8F8;
} 
.Our-Best-Categories-row-1 h1{
    font-size: 24px;
    font-weight:800;
    font-family: 'Mulish', sans-serif;
}
.Our-Best-Categories-row-1 p{
    font-size: 15px;
    color: #DC3545;
    font-family: 'Mulish', sans-serif;
}
.Our-Best-Categories-row-2 p{
    font-size: 15px;
    color: #DC3545;
    font-family: 'Mulish', sans-serif;
}
.Our-Best-Categories-row-2 h1{
    font-size: 24px;
    font-weight:800;
    font-family: 'Mulish', sans-serif;
}
.Best-Categories-card-img img{
    width: 150px;
    height: 150px;
}
.cards{
    border:1.5px dashed rgba(228, 225, 225, 0.936);
    border-radius: 15px;
}
.Best-Categories .card-body h1{
    color: #111111;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
.Our-Best-Categories-form h1{
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}
.book-seat{
    margin-bottom: 7px;
}
@media(min-width:992px){
    .navs-container{
       
        
    }
    .navbar-brand{
        margin-left:-100px;
    }
}     